@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');
@import "variables"    
@import "mixins"
@import "base"

@import "modules/header" 
@import "modules/promo"
@import "modules/category"    
@import "modules/catalog"
@import "modules/cart"
@import "modules/aside"
@import "modules/registration"

/* aside */





.main-header
    @extend %center 
    background: $main-bg-color
    
.main-header-container    
    display: flex
    justify-content: space-between    
    padding: 3.6rem 0 
    .main-title
        h1
            color: $accent
            font-size: 1.5rem
            font-weight: 400
    .breadcrumb
        display: flex
        margin: auto 0
        text-transform: uppercase
        color: #636363
        a
            &:hover
                color: $accent


/* filter */ 
    

   

 

@import "modules/product"         
@import "modules/footer" 
     
        
        




        
    



    



                 
       

